@using WebShopCore.Helper
@{
    var user = Context.Session.GetCurrentAuthentication();    
}

@if(user != null){
    <input type="hidden" id="hfUserId" value="@user.UserId" />
    <ul class="header__navbar-list">
        <li onclick="showNotification()"  class="header__navbar-item header__navbar-item--has-notify">
            <a href="#" class="header__navbar-icon-link">
                <i class="header__navbar-icon fa-solid fa-bell"></i>
                <span class="no-pointer">Thông báo</span>
            </a>
            <div class="header__notify">
                <header class="header__notify-header">
                    <h3>Thông báo mới nhận</h3>
                </header>
                <ul class="header__notify-list">

                </ul>

                <!-- chưa có thông báo -->
@*                @if(!user.Notify.Any() || user.Notify.Count() < 0)
                {
                    <div class="header__notify-no-login">
                        <img src="/assets/image/no-login.png" alt="" class="header__notify-img">
                        <div class="header__notify-lable">Chưa có thông báo</div>
                    </div>
                }
                else
                {
                    <!-- đã có thông báo -->
                    <ul class="header__notify-list">
                    @foreach(var noti in user.Notify)
                    {
                        <li onclick="seennotification(this)" class="header__notify-item header__notify-item--viewed">
                            <a href="#" class="header__notify-link">
                                <img src="~/assets/image/ip.png" class="header__notify-img" />
                                <div class="header__notify-info">
                                    <span class="header__notify-name">@noti.Title</span>
                                    <span class="header__notify-description">@noti.Message</span>
                                    <span class="header__notify-time">@noti.SendAt</span>
                                </div>
                            </a>
                        </li>

                    }
                    </ul>

                }
*@
            </div>

        </li>

        <li class="header__navbar-item">
            <i class="header__navbar-icon fa-regular fa-circle-question"></i>
            Trợ giúp
        </li>

        <li class="header__navbar-item header__navbar-user">
            <img src="@user.AvatarUrl" alt="ảnh đại diện" class="header__navbar-user-img">
            <span class="header__navbar-user-name">@user.Name</span>
            <ul class="header__navbar-user-menu">
                <li class="header__navbar-user-item">
                    <a asp-action="UserProfile" asp-controller="Setting" class="header__navbar-user-link">Tài khoản</a>
                </li>
                <li class="header__navbar-user-item">
                    <a asp-action="OrderHistory" asp-controller="Home" class="header__navbar-user-link">Lịch sử mua hàng</a>
                </li>
                <li class="header__navbar-user-item">
                    <a asp-action="Logout" asp-controller="Auth" class="header__navbar-user-link">Đăng xuất</a>
                </li>
            </ul>
        </li>

    </ul>
}
else
{
    <ul class="header__navbar-list">
        <li onclick="showNotification()" class="header__navbar-item header__navbar-item--has-notify">
            <a href="#" class="header__navbar-icon-link">
                <i class="header__navbar-icon fa-solid fa-bell"></i>
                <span class="no-pointer">Thông báo</span>
            </a>
            <div class="header__notify">
                <div class="header__notify-no-login">
                    <img src="/assets/image/no-login.png" alt="" class="header__notify-img">
                    <div class="header__notify-lable">Đăng nhập để xem thông báo</div>
                </div>
                <div class="header__notify-btn">
                    <button class="notify-btn header__notify-btn-login">Đăng nhập</button>
                    <button class="notify-btn header__notify-btn-register">Đăng ký</button>
                </div>
            </div>
        </li>

        <li class="header__navbar-item">
            <i class="header__navbar-icon fa-regular fa-circle-question"></i>
            Trợ giúp
        </li>

        <li class="header__navbar-item">
            <a asp-action="Login" asp-controller="Auth" class="header__navbar-item-link">Đăng nhập</a>
        </li>
        <li class="header__navbar-item">
            |
        </li>
        <li class="header__navbar-item">
            <a asp-action="Register" asp-controller="Auth" class="header__navbar-item-link">Đăng ký</a>
        </li>
    </ul>
}

@section Scripts{
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/notification.js" asp-append-version="true"></script>
}
