@using WebShopCore.Const;
@using static WebShopCore.Helper.Extensions
@model WebShopCore.ViewModel.User.UserViewModel
@{
    ViewData["Title"] = "Kiểm tra thanh toán";
}

<div class="app_container">
    <div class="app_container-lable">
        <span class="app_container-lable-msg">XÁC NHẬN THANH TOÁN</span>
    </div>
    <div class="app_container__checkout">
        <div class="checkout__product">
            <div class="app_container__checkout-heading">Sản phẩm</div>

            <div class="checkout__product-item">
                <div class="checkout__product-item-lable">Tên: </div>
                <div class="checkout__product-item-name">@Model.Name </div>
            </div>
            <div class="checkout__product-item">
                <div class="checkout__product-item-lable">Số điện thoại: </div>
                <div class="checkout__product-item-name">@Model.Phone </div>
            </div>
            <div class="checkout__product-item">
                <div class="checkout__product-item-lable">Địa chỉ: </div>
                <div class="checkout__product-item-name">@Model.Address </div>
            </div>
        </div>

        <div class="checkout__inform">
            <div class="app_container__checkout-heading">Hóa đơn</div>

            <div class="checkout__inform-heading">
                <div class="checkout__inform-heading-lable">Sản phẩm </div>
                <div class="checkout__inform-heading-lable">Tổng cộng </div>
            </div>
            @foreach (var item in Model.Cart.CartItems)
            {
                <div class="checkout__inform-item">
                    <div class="checkout__inform-item-lable">@item.Product.Name</div>
                    <div class="checkout__inform-item-name">@item.Product.SellPrice.ConvertToVND() * @item.Quantity</div>
                </div>
            }
            <div class="checkout__total">
                <div>Tổng cộng:</div>
                <div class="checkout__total-price">@Model.Cart.Total.ConvertToVND()</div>
            </div>


        </div>

    </div>
    <div class="btn__checkout">
        <a asp-action="Index" asp-controller="Home" class="btn btn-comback">Trở về</a>
        <a asp-action="SettleUp" name="payment" asp-route-payment="@((int)SysEnum.PaymentStatus.Pending))" class="btn btn-checkout">Thanh toán trực tiếp</a>
        <a asp-action="SettleUp" name="payment" asp-route-payment="@((int)SysEnum.PaymentStatus.Completed)" class="btn btn-apply">Thanh toán VnPay</a>
    </div>

</div>
