@using WebShopCore.Helper;
@model List<WebShopCore.ViewModel.Order.OrderViewModel>
@{
    ViewData["Title"] = "Lịch sử mua hàng";
}

<div class="app_container">
    <div class="app_container-lable">
        <span class="app_container-lable-msg">LỊCH SỬ MUA HÀNG</span>
    </div>
    <div class="grid">
        <div class="home-cart">
            <div class="grid__row home-cart--heading">
                <div class="grid__column-2">
                    <span class="home-cart-item">Mã đơn hàng</span>
                </div>
                <div class="grid__column-2">
                    <span class="home-cart-item">Ngày đặt hàng</span>
                </div>
                <div class="grid__column-2">
                    <span class="home-cart-item">Sản phẩm</span>
                </div>
                <div class="grid__column-2">
                    <span class="home-cart-item">Tổng cộng</span>
                </div>
                <div class="grid__column-2">
                    <span class="home-cart-item">Trạng thái đơn hàng</span>
                </div>
                <div class="grid__column-2">
                    <span class="home-cart-item">Trạng thái vận chuyển</span>
                </div>
            </div>

            @if (Model != null)
            {
                <div class="grid__row home-cart-list">

                    @foreach (var order in Model)
                    {
                        <div class="grid__column-2">
                            <span class="home-cart-item">@order.Code</span>
                        </div>
                        <div class="grid__column-2">
                            <span class="home-cart-item">@order.CreatedAt</span>
                        </div>
                        <div class="grid__column-2">
                            <span class="home-cart-item">
                                @foreach (var orderItem in order.OrderItems)
                                {
                                    <div>@orderItem.Product.Name</div>
                                }
                            </span>
                        </div>
                        <div class="grid__column-2">
                            <span class="home-cart-item">@order.Total.ConvertToVND()</span>
                        </div>
                        <div class="grid__column-2">
                            <span class="home-cart-item">@order.OrderStatusDisplay</span>
                        </div>
                        <div class="grid__column-2">
                            <span class="home-cart-item">@order.ShippingStatusDisplay</span>
                        </div>                        
                    }

                </div>
            }
        </div>
    </div>
</div>
